# Environment secrets
.env
**/.env

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Node
node_modules/
.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# Prisma generated
web_kasetFair/lib/generated/

# Misc
.DS_Store
*.pem
npm-debug.log*
.vercel
